* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

:root {
    --main-color:#E68285 ;
    --text-color: #FFFFFF;
    --text-muted: #CCCCCC;
    --bg-color: #1E202B;
    --bg-third-color: #262936;
}

body {
     overflow: hidden;
     font-family: "Roboto", "Open Sans", sans-serif;
}

/*======================>start navbar <============================> */
  
  .loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .loader {
    width: 48px;
    height: 48px;
    background: var(--text-color);
    border-radius: 50%;
    position: relative;
    animation: skLinRotate 1s ease-in-out infinite alternate;
  }
  
  .loader:after{
    content:"";
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: var(--main-color);
  }

  @keyframes skLinRotate {
    95% ,100% { transform: rotate(840deg) }
  }

  .sideBar{
    position: fixed;
    display: flex;
    align-items: center;
  
  }

  .sideBar nav{
  height: 100%;
    padding-inline: 4.375rem;
    display: none;
    
  }
  
  .sideBar .icon{
    position: absolute;
    display: flex;
    align-items: center;
    top: 300px;
    left: 100%;
    padding: 10px;
    margin-left: 10px;
    font-size: 20px;
    vertical-align: baseline;
  }

  .sideBar .close{
    color: var(--text-color);
    transition: color .5s;
  }

  .sideBar .close:hover{
  color: var(--main-color);
  }

  div nav ul li a{
    color: var(--text-color);
    transition: color .5s;
  }

  div nav ul li a:hover{
    color: var(--main-color);
  }

  section h1{
    font-size: 50px;
    padding-bottom: 70px;
    font-weight: 900;
    color: var(--text-color);
    list-style: 72px;
  }

  section nav div .close{
    color: var(--text-color);
  transition: color .5s;
  }

  section nav div .close:hover{
    color: var(--main-color);
  }
  
  #home{
    background: linear-gradient(to right,#d4151872,#d4151872),url('../imge/counters-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  }

  #duration{
    margin: auto;
    text-align: center;
  }

  #duration h3{
    background-color: var(--main-color);
    color: var(--text-color);
    width: 100%;
    padding: 10px;
  }

  #duration p{
    background-color: var(--text-muted);
    width: 100%;
    padding: 10px;
    line-height: 24px;
  }

  #twoPara,#threePara,#fourPara{
    display: none;
  }

  #details{
    
    background: linear-gradient(to right,#d41518ad,#d41518ad),url('../imge/counters-bg.jpg');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
    padding: 85px;
    margin-block: 85px;
  }

  .count{
    border: 2px solid var(--text-color);
    text-align: center;
  }

  #contact .icons a{
  border: 1px solid #777777;
  background-color: var(--text-color);
  transition: background-color .5s;
  }

  #contact .icons a:hover{
    background-color: #d62e33;
  }

  #contact .icons a i{
    color: #777777;
    transition: color .5s;
  }

  #contact .icons a:hover i{
    color: var(--text-color);
  }

  #contact input,textarea{
  border: none;
    box-shadow:inset 0 0 3px 3px var(--text-muted);
    background: var(--text-color);
    color: var(--bg-color);
  
  }

  #contact input:focus,textarea:focus {
    outline: none;
    background-color: var(--main-color);
  }